* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  a{
      text-decoration:none;
  }
  p {
    color: #393838;
    line-height: 1.4;
  }
  
  .container {
    max-width: 1000px;
    margin: auto;
  }
  
  header {
    border-bottom: 1px solid #c5c1c1;
    padding: 20px 0;
  }
  
  header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .content ul {
    list-style: none;
    display: flex;
  }
  header .content li {
    margin-left: 10px;
  }
  main {
    margin-bottom: 100px;
  }
  main .container {
    padding-top: 45px;
  }
  
  main .container .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  main .container .cover {
    width: 100%;
  }
  
  main .container .coverDesc {
    margin: 40px 0;
    color: #9b9a9a;
  }
  
  main .container .dot {
    font-size: 48px;
    text-align: center;
  }
  
  main h3 {
    color: #030303;
    margin-bottom: 20px;
  }
  
  footer {
    background: #eeeeee;
    padding: 30px 0;
  }
  
  footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon {
    width: 30px;
  }
  